debug = true

[api]
enable_dev_endpoints = true
host = "0.0.0.0"
domain = "hexum.com"
path_suffix = "/api"
port = 8080
docs_endpoint = "docs"

[api.docs_users]
docs-user-1 = "password"

[frontend]
url = "https://hexum.com/api"

[postgresql]
pool_max_conn = 5
host = "postgres"
port = 5432
user = ""
passwd = ""
name = ""

[redis]
host = "redis"
port = 6379
passwd = ""
number = "0"

[storage]
upload_dir = "/app/uploads"

[email]
provider = "resend"
from = "noreply@kaucrow.com"
api_key = ""

[oauth]
login_ui_endpoint = "/auth/oauth/login-ui"
callback_endpoint = "/auth/oauth/callback-ui"

[oauth.google]
login_endpoint = "/auth/oauth/google/login"
client_id = ""
client_secret = ""

[oauth.github]
login_endpoint = "/auth/oauth/github/login"
client_id = ""
client_secret = ""